.vs
bin
obj
.idea/.idea.Kraken.WebSockets/.idea
.idea
*.user
coverage.json
/TestResults
build/
node_modules/
TestResults/
*.DotSettings

src/Kraken.WebSockets.Sample/Properties/launchSettings.json
.vscode/