<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - kraken-wsapi-dotnet Sonar way" ToolsVersion="16.0">
  <Include Path="..\..\.sonarlint\kraken-wsapi-dotnetcsharp.ruleset" Action="Default" />
  <Include Path="..\.sonarlint\kraken-wsapi-dotnetcsharp.ruleset" Action="Default" />
</RuleSet>